body {
    font-family: "Arial", sans-serif;
	background-color:lightblue;
}
section {
    text-align: center;
	 
}
.select{
	size: 60px;
}
.Tournmant--start {
  border: none;
  color: black;
  padding: 20px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}